body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: rgb(221, 221, 221);
}
header {
    background-color: rgb(102, 166, 255);
    color: white;
    text-align: center;
    padding: 20px;
}
nav {
    display: flex;
    justify-content: center;
    background-color: rgb(82, 198, 111);
}
nav a {
    text-decoration: none;
    color: white;
    padding: 10px 20px;
}
main {
    max-width: 1200px;
    margin: 20px auto;  
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.content {
    width: 45%;
    background-color: white;
    padding: 20px;
    margin: 10px 0;
    border-radius: 5px;
}
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
}
@media (max-width: 768px) {
    .content {
        width: 100%;
    }
}