header {
    text-align: center;
    padding: 20px;
    background-color: crimson;
}

.gambar {
    display: flex;
    justify-content: center;
    align-items: center;
}

.kon {
    background-color: rgb(214, 214, 214);
    border-radius: 5px;
    font-family: 'Times New Roman', Times, serif;
    width: 20%;
    padding: 20px;
    margin: 10px;
}

main {
    max-width: 1200px;
    margin: 20px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

}

.d {
 background-color: rgb(0, 0, 0);
    border-radius: 5px;
    font-family: 'Times New Roman', Times, serif;
    ;
    width: 20%;
    padding: 20px;
    margin: 10px;    
}