body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background-color: aliceblue;
}

header {
    background-color: rgb(70, 69, 69);
    color: white;
    text-align: center;
    padding: 1rem;

}

nav a {
    color: white;
    margin: 0 1rem;
    text-decoration: none;
}

main {
    padding: 2rem;
    text-align: center;
}

.produk-grid {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.produk {
    background: white;
    border: 1px solid white;
    border-radius: 5px;
    padding: 1rem;
    margin: 1rem;
    width: 200px;
    box-shadow: 0 0 10px rgb(14, 14, 14);
}

.produk img {
    width: 100%;
    height: auto;
}

button {
    background-color: greenyellow;
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    cursor: pointer;
    border-radius: 3px;
}

button:hover {
    background-color: chartreuse;
}

footer {
    background-color: rgb(57, 56, 56);
    color: white;
    text-align: center;
    padding: 1rem;
    position: fixed;
    width: 100%;
    bottom: 0;
}