body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background-color: beige;
}

header {
    background-color: rgb(79, 79, 201);
    color: white;
    text-align: center;
    padding: 20px;
}

nav {
    display: flex;
    justify-content: center;
    background-color: aquamarine;
}

nav a {
    text-decoration: none;
    color: rgb(61, 54, 151);
    padding: 10px 20px;
}

main {
    max-width: 1200px;
    margin: 20px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.content {
    width: 45%;
    background-color: #fff;
    padding: 20px;
    margin: 10px 0;
    border-radius: 5px;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
}
