body {
  background-color: #233570; /* warna background halaman */
  color: #fff;
  font-family: Arial, sans-serif;
  text-align: center;
  margin: 0;
  padding: 0;
}

/* Navbar */
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #8FABD4;
  font-size: 15px;
  display: flex;               /* ubah jadi flexbox */
  justify-content: center;     /* biar di tengah */
  align-items: center;         /* sejajarin vertikal */
  gap: 40px;                   /* kasih jarak antar menu */
}

ul li {
  float: none; /* hapus efek float */
}

ul li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 30px;
  text-decoration: none;
  border-radius: 8px;
  transition: background-color 0.3s;
}

ul li a:hover {
  background-color: #233570;
}


h2 {
  margin-top: 50px;
  color: #fff;
}

/* ======== CARD CONTAINER ======== */
.card-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 50px;
  padding: 50px;
}

/* ======== CARD STYLE ======== */
.card {
  background-color: black;
  color: #ffff;
  width: 250px;
  border-radius: 12px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 0 4px 8px rgba(0,0,0,0.3);
}

/* Biar gambar rapi */
.card img {
  width: 100%;
  height: 220px;
  object-fit: cover;
}

/* Harga dan judul */
.card h1, .card .price {
  margin: 10px;
}

/* ======== TOMBOL ADD TO CART ======== */
.card button {
  background-color: #fff;
  color: black;
  border: none;
  padding: 15px 0;
  font-size: 16px;
  cursor: pointer;
  width: 100%;
  font-weight: bold;
  margin-top: auto; /* kunci biar nempel bawah */
}

/* efek hover */
.card button:hover {
  background-color: #233570;
}
