/* ANIMASI GRADIENT HERO */
@keyframes heroColor {
    0% { background: linear-gradient(135deg, #ff72c7, #7b6cff); }
    50% { background: linear-gradient(135deg, #ff8a5c, #ff3fb0); }
    100% { background: linear-gradient(135deg, #ff72c7, #7b6cff); }
}

/* BODY */
body {
    margin: 0;
    font-family: 'Times New Roman', Times, serif;
    background: darkorchid;
    color: #333;
}

/* HERO */
.hero {
    text-align: center;
    padding: 90px 20px;
    color: white;
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;

    animation: heroColor 8s infinite alternate ease-in-out;
}

.hero h1 {
    font-size: 60px;
    margin-bottom: 10px;
}

/* SECTION TITLES */
h2 {
    text-align: center;
    margin-top: 50px;
    font-size: 50px;
    color: white;
}

/* PERFORMERS */
.performer-list {
    display: flex;
    justify-content: center;
    gap: 35px;
    flex-wrap: wrap;
    padding: 50px;
}

.card {
    width: 220px;
    background: white;
    border-radius: 14px;
    padding: 15px;
    text-align: center;
    box-shadow: 0 3px 8px rgba(0,0,0,0.15);
    transition: 0.25s ease;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 12px rgba(255, 0, 170, 0.5);
    background: linear-gradient(135deg, #ffffff, #ffe6ff);
}

.card img {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 10px;
}

/* ACCORDION */
.accordion-btn {
    width: 100%;
    padding: 14px;
    margin: 10px auto;
    background: #e8e8e8;
    border-radius: 8px;
    border: none;
    font-size: 16px;
    cursor: pointer;
    text-align: left;
    transition: 0.2s;
}

.accordion-btn:hover {
    background: #dcdcdc;
}

.accordion-content {
    width: 90%;
    margin: auto;
    background: lightcoral;
    padding: 12px;
    border-radius: 8px;
    display: none;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

/* TICKETS */
.ticket-box {
    width: 260px;
    margin: 40px auto;
    background: white;
    padding: 25px;
    text-align: center;
    border-radius: 12px;
    box-shadow: 0 3px 8px rgba(0,0,0,0.2);
}

.ticket-box .price {
    font-size: 22px;
    font-weight: bold;
    margin: 10px 0;
}

.ticket-box button {
    background: #6b5cff;
    color: white;
    padding: 10px 18px;
    border: none;
    border-radius: 7px;
    cursor: pointer;
    font-size: 16px;
}

/* FOOTER */
footer {
    text-align: center;
    padding: 25px;
    background: #333;
    color: white;
    margin-top: 50px;
}