body {
    background-image: url(../img/black.jpg);
      background-size: cover;
      background-color: #636262;
    }

    content {
      margin-top: auto;
    }

    h1 {
      font-family: Arial, Helvetica, sans-serif;
      font-size: 120px;
      color: aliceblue;
      margin: 100px;
    }

    h4 {
      font-family: Arial, Helvetica, sans-serif;
      font-size: 20px;
      color: aliceblue;
      margin-top: -110px;
      margin-left: 108px;
    }

    p {
      font-family: Arial, Helvetica, sans-serif;
      font-size: 20px;
      color: aliceblue;
      width: 500px;
      height: 400px;
      float: left;
      margin-left: 20px;
    }

    img {
      width: 300px;
      height: 300px;
      margin-left: 108px;
      float: left;
    }

    .icon {
      float: left;
      margin-top: -100px;
    }