body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #191923;
}
header {
    align-items: center;
    color: white;
    text-align: center;
    padding: 50px;
    background-image: url(download\ \(3\)\ \(1\).jpg);
    background-position: center;
}
header img {
    width: 250px;
    height: 150px;
    border: 5px solid #ffe599;
    margin-top: 20px;
}
nav {
    display: flex;
    justify-content: center;
    background-color: #191923;
    border-top: 2px solid #ffe599;
    border-bottom: 2px solid #ffe599;
}
nav a {
    text-decoration: none;
    color: #ffe599;
    padding: 10px 20px;
}
nav a:hover {
    color: #3d3d64;
}
main {
    max-width: 1200px;
    margin: 20px auto;  
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.content {
    color: white;
    border: #ffe599 5px solid;
    width: 45%;
    background-color: #191923;
    padding: 20px;
    margin: 10px 0;
    border-radius: 5px;
}
.content h2 {
    text-align: center;
    color: #ffe599;
}
.content table {
    padding: 10px;
}
.content:hover {
    background-color: #3d3d64;
}
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
}
@media (max-width: 768px) {
    .content {
        width: 100%;
    }
}