body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background-color: aqua;
    }
header {
    background-color: darkblue;
    color: white;
    text-align: center;
    padding: 20px;
}
nav {
    display: flex;
    justify-content: center;
    background-color: lightgray;
}
nav a {
    text-decoration: none;
    color: black;
    padding: 14px 20px;
}
main{
    max-width: 1200;
    margin: 20px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.content {
    width: 45;
    background-color: white;
    padding: 20px;
    margin: 10px 0;
    barder-radius: 8px;
}
footer {
    background-color: darkblue;
    color: white;
    text-align: center;
    padding: 10px;