#products {
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(200px,1 fr));
    gap: 20px;
}

.product-card {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
}

.product-card img {
    width: 136%;
    height: auto;
}