body {
    font-family: 'Times New Roman', Times, serif;
    margin: 0%;
    padding: 0%;
    background-color: azure;
}

header {
    background-color: aquamarine;
    color: azure;
    text-align: center;
    padding: 20px
}

nav {
display: flex;
justify-content: center;
background-color: aquamarine;
}

nav a {
    text-decoration: none;
    color: white;
    padding: 10px 20px;
}

main {
    max-width: 1200px;
    margin: 20px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.content {
    width: 45%;
    margin: 20px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

footer {
    background-color: black;
    color: beige;
    text-align: center;
    padding: 10px;
}