h1, h2, h3, h4, h5, h6 {
    text-align: center;
}
p {
    text-align: center;
    padding: 10px;
}
img {
    width: 200px;
    height: 200px;
}
button {
    margin: 10px;
    width: 100px;
    align-self: center;
}
.buttonyes {
    background-color: lightgreen;
}
.buttonno {
    background-color: lightcoral;
}