body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
}

header {
    background-color: #3498db;
    color: #f2f2f2;
    text-align: center;
    padding: 20px;
}

nav {
    display: flex;
    justify-content: center;
    background-color: #27ae60;
}

nav a {
            color: white;
            padding: 10px 20px;
            text-decoration: none;
        }
        .container {
            max-width: 1200px;
            margin: 20px auto;
            padding: 20px;
            background-color: white;
            border-radius: 5px;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
        }
        .main-content {
            flex: 70%;
        }
        .sidebar {
            flex: 30%;
        }
        footer {
            background-color: #333;
            color: white;
            text-align: center;
            padding: 10px;
        }